<!-- // webpack.config.js

var markdownSup = require('markdown-it-sup');
var markdownSub = require('markdown-it-sub');

module.exports = {
    markdownattrsLoader: {
        use: [markdownSup, markdownSub], // It's always an array
    }
}; -->
<!--

{
    module.exports = {
        loaders: [
            { test: /\.html$/, loader: "html!markdownattrs" },
        ]
    }
} -->